table.tablesorter {
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #ddd;
	border: 1px solid #ccc;
	padding: 0.25rem 50px 0.25rem 0.5rem;
	font-size: 85%;
}
table.tablesorter thead tr .header {
	background-image: url(/img/sortable.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .header:hover {
	text-decoration: underline;
}
table.tablesorter tbody td {
	padding: 0.25em 0.5em;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
table.tablesorter tbody tr:hover td {
	background-color: #def;
}
table.tablesorter tbody tr.odd td {
	background-color:#eef;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/desc.png);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #abd;
}
