@media print {

	@page {
		size: letter;
		margin: 0.5in 1in 0in;
	}


	hr {
		display: block;
		page-break-after: always;
		border: none !important;
	}


	// overall colors
	* {
		color: @black !important;
		background: @white !important;
	}


	// fix padding and layouts
	html,
	body {
		height: auto;
	}

	body {
		padding: 0;
		font-size: 12pt;
	}


	// no box-shadows
	body,
	header,
	footer,
	.navbar-inner {
		.box-shadow(none);
	}

	// unfloat top bar and make non-fluid
	.navbar-fixed-top {
		position: relative;
	}

	.container-fluid {
		.container-fixed();
		&::before,
		&::after {
			display: none;
		}
	}

	.container {
		min-height: 0;
		height: auto;
		margin-bottom: 0;
	}

	.push {
		height: 0 !important;
	}

	// hide navbar navigation, darken title
	.navbar {
		margin: 0;
		.brand {
			font-size: 100%;
			text-transform: uppercase;
			text-align: right;
			color: @grayLight !important;
			float: none;
			padding: 0;
			margin-bottom: 1em;
		}
		.nav-collapse {
			display: none;
		}
	}

	// hide any action buttons
	.actions {
		display: none;
	}



	// fix footer
	footer {
		margin-top: 1em;
		height: auto;
		font-size: 65%;
		.navbar-inner {
			text-transform: uppercase;
			color: @grayLight !important;
			height: auto;
		}
		// unfloat and shrink spans
		.span6 {
			margin-top: 0.5em;
			width: 100%;
			float: none !important;
			text-align: right;
		}
		// no line breaks
		br {
			display: none;
		}
	}


	// page header
	.page-header {
		margin: 0;
	}




	// widen tables
	.table-bordered {
		width: 100%;
	}

	.table {
		border-color: @black;

		td,
		th {
			border-color: @black !important;
			padding: 5px 8px;
			background: @white !important;
		}
	}


	// hide unsortable table parts
	tbody.nosort {
		display: none;
	}

	// no highlights for sorted headers
	// and hide arrow for unsorted colums
	table.sortable {
		thead {
			th {
				background-color: @grayLighter !important;
			}
			.header {
				background-image: none !important;
			}
		}
	}

	// fix all links
	a {
		text-decoration: none !important;
	}


}