
// TABLES
// --------------------------------------------------

@tableSortableHeader:         @grayLighter;
@tableSortableActiveColumn:   darken(@tableSortableHeader, 15%);
@tableSortableHoverRow:       @infoBackground;



table.sortable {

	thead {
		th {
			background-color: @tableSortableHeader;
			padding-right: 20px;
			margin-right: -20px;
		}
		.header {
			background-image: url(/img/sortable.png);
			background-repeat: no-repeat;
			background-position: 100% 6px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}

		.headerSortUp {
			background-image: url(/img/sorted-asc.png);
			background-color: @tableSortableActiveColumn;
		}
		.headerSortDown {
			background-image: url(/img/sorted-desc.png);
			background-color: @tableSortableActiveColumn;
		}

	}

	tbody {
		td {
			position: relative;
			overflow: hidden;
		}
		tr:hover td {
			background-color: @tableSortableHoverRow;
		}
	}

	tbody.nosort {
		color: @grayLight;
	}

}